<h1>Welcome To Broadway Love!</h1>

<style>
 <%=html { 
  background: url(https://media.tacdn.com/media/attractions-splice-spp-674x446/06/8e/3b/77.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}%>


 </style>