<!DOCTYPE html>
<html>
 <body style="background-color:LightGray;">
</body>
</html>

<h1>Add Your Broadway Show Here!</h1>
<br>
<h7 style="color:DodgerBlue;">  <i> Complete each field and rate your show on a scale of 1 - 5, with 5 being the very best! </i> </h7>
<br>
<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>


<%=render('form')%>

<br>
<div style="text-align: center;"><img src="https://www.theatermania.com/dyn/photos/theatermania/v1finw2400x0y0w1200h857/the-cast-of-six-now-running-at-the-brooks-atkinson-149127.jpg" alt="Trulli" width="500" height="333" img style="text-align:center;">