<h1>Add Your Broadway Show Here!</h1>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>


<%=render('form')%>

<br>
<img src="https://www.theatermania.com/dyn/photos/theatermania/v1finw2400x0y0w1200h857/the-cast-of-six-now-running-at-the-brooks-atkinson-149127.jpg" alt="Trulli" width="500" height="333" img style="text-align:center;">