<h1><%=@show.name%></h1>
<h7> <i> <%=@show.description%></h7> </i>

<%=render partial: 'reviews/reviews', locals: {reviews: @show.reviews, index: false}%><br>

<br>




<%=link_to "Add a New Review", new_show_review_path(@show)%><br><br>



<%#button_to("Delete", @show, method: :delete, data: { confirm: "Are You Sure?" }) %>