<h1>Search by Rating</h1>

<%=form_with url: reviews_path, method: :get do  |f|%>
 <%=f.number_field :rating %>
  <%=f.submit "Search"%>
<%end%>


<%=render(partial: 'reviews', locals: {reviews: @reviews, index: true})%>