<h1> reviews layout</h1>

<%#link_to "All Shows", shows_path %>
<%#link_to "New Show", new_show_path %>
<%#link_to "New Review", new_review_path %>
<%#link_to "All Reviews", reviews_path %>
<%#yield%>